
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.form-principal{
    background: #F3F3F3;
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.5rem 0rem;
    margin: 0 auto;
}

.form-container{

    position: relative;
    max-width: 56rem;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    flex-wrap: wrap-reverse;
    gap: 2rem;

}

.card-login-esquerda h1{
    padding: 1.5rem 0.625rem;
    
    margin: 5rem
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.fieldset{
    border: none;
    display: flex;
    padding: 1rem;
}

.card-login-esquerda{

}

.card-login-esquerda input{
    width: 100%;
    outline: none;
    background: transparent;
    border: solid 1px;
    border-left: none;
    border-right: none;
    border-top: #0A0A0A;   
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 30px;
}

.recuperar-btn{
    
    background-color: #F3A310;
    cursor: pointer;
    border-radius: 0.5938rem;
    
    padding: 0.5rem 4.5rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 0.5rem;

}

.recuperar-btn a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.main-login-img{
    display: flex;
    max-width: 25rem;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
}
.esquecer-registrar{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
}

.esquecer-registrar a{
    color: #F3A310;
    cursor: pointer;
    padding: 1rem;
}

.esquecer-registrar a:hover{
    text-decoration: underline;
}